.idea
*.DS_Store
*.pyc

# p149_random_quize_generator.py 会产生 70 个文件
resource/capitalsquize

# c11 使用 selenium 会每次刷新此 log 文件
c11/geckodriver.log

# p227_test1251.py 测试保存 Excel
resource/excel/example_copy.xlsx

