.idea
*.DS_Store
*.pyc

# p149_random_quize_generator.py 会产生 70 个文件
resource/txt/capitalsquize

# c11 使用 selenium 会每次刷新此 log 文件
c11/geckodriver.log

# 不需要保存的 excl 文件
resource/excel/output/*

# 不需要保存的 pdf 文件
resource/pdf/output/*

# 不需要保存的 word 文件
resource/word/output/*

# 不需要保存的 csv 文件
resource/csv/output/*

# 不需要保存的 image 文件
resource/image/output/*
